## mako
<%page expression_filter="h" />
<%! from datetime import datetime %>
  <%! from django.urls import reverse %>
    <%! from django.utils.translation import gettext as _ %>
      <%! from lms.djangoapps.branding.api import get_footer %>
        <%! from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled %>
          <% footer=get_footer(is_secure=is_secure) %>
            <% icp_license_info=getattr(settings, 'ICP_LICENSE_INFO' , {})%>
              <%namespace name='static' file='static_content.html' />
              <!-- NEW IN CHALIX_THEME update footer -->
              % if uses_bootstrap:
              <div class="wrapper wrapper-footer chalix-footer">
                <footer id="footer" class="chalix-ed-container" ## When rendering the footer through the branding API,
                  the ## direction may not be set on the parent element, so we set it here. % if 'bidi' in locals() and
                  bidi: dir="${bidi}" % endif>
                  <div class="footer-content">
                    <div class="footer-text">
                      <p>Chalix Platform</p>
                      <p>Copyright@${datetime.now().year}</p>
                    </div>
                  </div>
                </footer>
              </div>
              % else:
              <!-- NEW IN CHALIX_THEME update footer -->
              <div class="wrapper wrapper-footer chalix-footer">
                <footer id="footer" class="chalix-ed-container" ## When rendering the footer through the branding API,
                  ## the direction may not be set on the parent element, ## so we set it here. % if 'bidi' in locals()
                  and bidi: dir=${bidi} % endif>
                  <div class="footer-content">
                    <div class="footer-text">
                      <p>Chalix Platform</p>
                      <p>Copyright@${datetime.now().year}</p>
                    </div>
                  </div>
                </footer>
              </div>
              % endif
              % if include_dependencies:
              <%static:js group='base_vendor' />
              <%static:css group='style-vendor' />
              <%include file="widgets/segment-io.html" />
              <%include file="widgets/segment-io-footer.html" />
              % endif
              % if footer_css_urls:
              % for url in footer_css_urls:
              <link rel="stylesheet" type="text/css" href="${url}">
              </link>
              % endfor
              % endif